

        <section id="upload" class="upload-section content-section text-center">
            <h4>Create Album</h4>
            <center>
                <form id="uploadForm"
                method="post">
                            <div class="input-group">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary">
                                        Browse&hellip; <input type="file" style="display: none;" id="images_upload" name="userPhoto" multiple required>
                                    </span>
                                </label>
                                <input type="text" class="form-control" readonly>
                            </div>

                    <!-- <select name="album_selector" class="album_selector" required>
                        <option ng:repeat="album in albums" value="{{album.url}}" >{{album.title}}</option>
                    </select> -->
                    <div id="album_metadata_field" style="display: none">
                        <div class="input-group">
                            <label class="input-group-addon" id="sizing-addon2">Title</label>
                            <input type='text' class="form-control" aria-describedby="basic-addon1" id='albumtitle' name='albumtitle' required>

                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" id="sizing-addon2">Descrption</label>
                            <input type='text' class="form-control" aria-describedby="basic-addon1" id='desc' name='desc' required>
                        </div>
                        <input type="submit" class="btn btn-default" value="Create!" name="submit" onclick="uploaded()">
                    </div>
                </form>
            </center>
            <script>
                $('input#images_upload').change(function() {
                    $('div#album_metadata_field').fadeIn('slow', function() {
                    });
                });
            </script>


    </section>

        <!-- About Section -->
        <section id="about" class="about-section content-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Using Sl<span id="y" class="lower light">y</span>des.</h1>
                        <p>
                            Upload your photos and albums and easily share them across the world with one simple link!
                        </p>
                        <ul class="features">
                            <li>Upload your images and create an album!</li>
                            <li>Share your album's link to easily send an automatic slideshow to your friends!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="footer">
            <center>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a class="btn btn-social-icon btn-github btn-lg" href="https://github.com/bhavishy6">
                                        <span class="fa fa-github"></span>
                                    </a>
                                    <a class="btn btn-social-icon btn-linkedin btn-lg" href="https://www.linkedin.com/in/bhavish-yalamanchi-60766ba3">
                                        <span class="fa fa-linkedin"></span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </center>
        </div>

    <script>

    $(document).ready(function() {
        $('#uploadForm').ajaxForm({
            url : '/createAlbum', // or whatever
            dataType : 'json',
            success : function (response) {
                console.log("The server says: " + response);
                window.location.replace(response.url);
            }
        })

        //----------BOOTSTRAP FORM SETUP
        $(document).on('change', ':file', function() {
           var input = $(this),
               numFiles = input.get(0).files ? input.get(0).files.length : 1,
               label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
           input.trigger('fileselect', [numFiles, label]);
         });

        $(document).ready( function() {
            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
        });
    });
    </script>
