<p>
    {{ tagline }}
</p>

        <section id="upload" class="upload-section content-section text-center">
        <p id="upload_limit"></p>

        <span id = "status"></span>

        <script>
            $.get("/get_upload_limit", function(data) {
                limit = data.upload_limit;
                console.log(limit);
                $("#upload_limit").text("Upload Limit: " + limit);
            });
        </script>

        <form id="uploadForm"
        action="/uploadToAlbum"
        method="post">
            <input type="file" name="userPhoto" multiple/>
            <select name="album_selector" class="album_selector">
                <option ng:repeat="album in albums" value="{{album.url}}" >{{album.title}}</option>
            </select>
			<input type="submit" value="Upload Image" name="submit" onclick="uploaded()">
        </form>

        <h6>Preview Album</h6>
        <form id="previewForm" method="post">
            <select class="album_selector" name="album_select" data-ng-model="selectedOption" >
                <option ng:repeat="album in albums" value="{{album.url}}">{{album.title}}</option>
            </select>

            <!--name="submit" onclick="toggle_preview()" -->

            <input type="submit" value="Preview Images" ui-sref="set({guid: selectedOption })">
        </form>

        <div id="images_preview"></div>
        <script>
            var displayed = 0;
            var images = [];
            var walk_again = 1;

            function uploaded() {
               	walk_again = 1;
			}

            function isInArray(array, value) {
                return array.indexOf(value) > -1;

            };
            //TODO: cache images
            /*function toggle_preview() {
                if(images.length === 0)
                    walk_again = 1;

                if(!displayed) {
                    //process to cache images:
                    if(walk_again) {
                       $.get("/images", function(data) {
                           console.log(data);
                           images = data.images;
                           for (i = 2; i < images.length; i++) {
                               console.log(data.images[i] + ": "+ isInArray(images, data.images[i]))
                               if(!isInArray(images, data.images[i])) {
                                   console.log("walk: " + images[i]);
                                   $("#images_preview").append("<img src='" + data.images[i]+ "' height='200px' width='200px'>");
                                   displayed = 1;
                               }
                           }
                       });
                        walk_again = 0;
                    } else {
                        for (i = 2; i < images.length; i++) {
                            console.log("cached: " + images[i]);
                            $("#images_preview").append("<img src='" + images[i]+ "' height='200px' width='200px'>");
                            displayed = 1;
                        }
                    }
                } else {
                    //process to hide:
                    $("#images_preview").children().hide();
                    displayed = 0;
                }
            }*/

        </script>

        <h6>Delete Album</h6>
        <form id="deleteForm" action="/delete_album">
            <select class="album_selector" name="album">
            </select>
            <input type="button" onclick="delete_album()" value="Delete Album">
        </form>

		<h6>New Album</h6>
        <form id="newAlbumForm" action="/new_album" method="post">
            <label>Album Title:</label><input type='text' id='albumtitle' name='albumtitle'><br>
            <label>Owner:</label><input type='text' id='ownerName' name='ownerName' value='emma watson'><br>
            <label>Descrption:</label><input type='text' id='desc' name='desc'><br>
            <!-- <input type='password' id='key' name='key'><br> -->
            <input type="submit" value="New Album">
        </form>

        <h6>Empty Album</h6>
        <form id="emptyAlbumForm" action="/empty_album">
            <select class="album_selector" name="album">
            </select>
            <input type="button" onclick="delete_album()" value="Empty Album">
        </form>
    </section>

        <!-- About Section -->
        <section id="about" class="about-section content-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About Sl<span id="y" class="lower light">y</span>des.</h1>
                        <p>
                            Upload your photos and albums and easily share them across the world with one simple link!
                        </p>
                        <ul>
                            <li>Share albums to the world or to specific people with the ability to set a secure key</li>
                            <li>Simply share the key with the people you want to give access to and voila!</li>
                        </ul>
                    </div>
                    <a class="btn btn-default page-scroll" href="#projects">View more</a>
                </div>
            </div>
        </section>

        <section id="contact" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Contact Me</h2>
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="https://github.com/bhavishy6" class="btn btn-default btn-lg">
                                        <i class="fa fa-github fa-fw"></i>
                                        <span class="network-name">Github</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://soundcloud.com/bhavishy6" class="btn btn-default btn-lg">
                                        <i class="fa fa-soundcloud fa-fw"></i>
                                        <span class="network-name">SoundCloud</span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </section>

    <script>

    $(document).ready(function() {

        $('#uploadForm').submit(function() {
            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({
                error: function(xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function(response) {
                    console.log(response)
                    $("#status").empty().text(response);
                }
            });

            return false;
        });

        $('#newAlbumForm').submit(function() {
            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({
                error: function(xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function(response) {
                    console.log(response)
                    $("#status").empty().text(response);
                }
            });

            return false;
        });

    });
    </script>
