
        <h3 class="album_title">
            {{tagline}}
        </h3>

        <form name="keycheck" ng-show="{{false}}" ng-submit="validate()">
            <input type="password" name="key_input" ng-model="keyForm.key"/>
            <input type="submit" value="Go!" name="submit"  onclick="initBSS()" />
        </form>


    <div class="bss-slides">
        <figure ng:repeat="image in slides" >
            <img ng-src="public/uploads/{{image.filename}}" width="100%" />
            <figcaption>{{image.date}} <a href="public/uploads/{{image.filename}}" download >Download</a> </figcaption>
        </figure>
    </div>
    <script>

    </script>
